@use 'sass:map';
@use '@angular/material' as mat;

$default-font-family: Roboto, "Helvetica Neue", sans-serif;

$padding-sm: .5em;
$padding-md: 1em;
$padding-lg: 2em;

$margin-sm: .5em;
$margin-md: 1em;
$margin-lg: 2em;

//font sizes
$font-size-xs: 8px;
$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 24px;

//colors
$white: #d2d2d2;
$warn: #e33d7b;
$light-blue: #2158ff;
$med-blue: #0033cc;
$dark-blue: #121D6B;
$black: #111111;
$light-gray: #d3d4d7;
$light-green: #98c48c;




