<div class="center">
    <img style="height: 56vh" src="/assets/unbound-sci_mesh.png"/>
</div>
<div class="center margin-lg">
    <button mat-button color="accent" class="button-lg" (click)="login()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon> Sign Up</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-button color="accent" class="button-lg" (click)="login()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="login"></mat-icon> Login</button>
</div>
