<mat-toolbar>
  <button routerLink="/landing-pg" mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
    <mat-icon>home</mat-icon>
  </button>
<!--  <span>Angular Crypto Starter App</span>-->
  <span class="header-spacer"></span>

  <wallet-connect-button></wallet-connect-button>

  <button mat-icon-button
          color="primary"
          class="example-icon"
          aria-label="Example icon-button with share icon">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
